extends ../layouts/default
block menu 
    include ../partials/_menu.jade
block content
    
    //- h1= getCatalog()
    //- h1= setLocale('it')
    //- h1= __('hello')
    //- h1= getLocale()
    
    
    block body
      #onepage
        include ../partials/_home_landing.jade
        
