extends ../layouts/default
block modals
      include ../partials/_enquire_modal.jade
      include ../partials/_contact_us_modal.jade

block menu 
  include ../partials/_menu.jade
block body
  #onepage
    
    .terms-wrapper
    
      h1!= __('tc-pp')
    
      #terms-terms
      
        .terms-header
          h2!= __('tc')
        
        .terms-text
          p
            != __('tc_content')
    
      #terms-privacy
      
        .terms-header
          h2!= __('pp')
        
        .terms-text
          p
            != __('pp_content')
          
    
    
    .section.darker
      include ../partials/_footer.jade 
