extends ../layouts/default.jade
block modals
      include ../partials/_enquire_modal.jade
      include ../partials/_contact_us_modal.jade
block menu 
  include ../partials/_menu.jade
block body
  #onepage
    .section.spacer
      include ../partials/_yachts_grid.jade