extends ../layouts/default

block menu 
  include ../partials/_menu.jade
block body
  #onepage
    div.main-photo
      block main-photo
        div(class="img-holder", data-image="/images/landing/DIONE_STAR_10OTT2014_6763.jpg")
          section.center-parallax
            .section
              .filtro
              include ../partials/_yacht_charter_intro.jade
          a.down(href="#charter_section")
    .section#charter_section
      div.main-photo
        div(class="img-holder", data-image="/images/landing/oriz_brokerage.jpg")
          section.center-parallax
            .section
              .filtro
              include ../partials/_power_charter_intro.jade
    .section.inner-last-yacht
      include ../partials/_latest_yacht_power.jade
    .section
      div.main-photo
        div(class="img-holder", data-image="/images/landing/noheea.png")
          section.center-parallax
            .section
              .filtro
              include ../partials/_sail_charter_intro.jade
    .section.inner-last-yacht
      include ../partials/_latest_yacht_sail.jade
    .section
      div.main-photo
        div(class="img-holder", data-image="/images/landing/kadena.jpg")
          section.center-parallax
            .section
              .filtro
              include ../partials/_gulet_charter_intro.jade
    .section.inner-last-yacht
      include ../partials/_latest_yacht_gulet.jade
    //- div.bottom-spacer
    //- .section
    //-   include partials/_yacht_size.jade
    //- div.bottom-spacer
    //- .section
    //-   include partials/_quote_charter.jade
    //- div.bottom-spacer
    //- .section.inner-map
    //-   include partials/_yacht_charter_map.jade


