extends ../layouts/_team.jade

block title-smaller
  | 27 years of experience
block photo-team1
  img(src='/images/team/corrado_di_majo.png', alt='Corrado Di Majo')
block team-name1 
  | Corrado Di Majo<br />Founder, President
block team-description1
  | Corrado was a child prodigy at sailing: the youngest Italian ever to race the Single-handed Trans Atlantic Race from England to the US and the youngest Italian skipper at the Whitbread/Volvo Round the World Race. SinceSince 1986 Equinoxe has been a different way to channel his passion and his unparalleled knowledge of the sea. SENIOR SALE AND CHARTER BROKER.
block photo-team2
  img(src='/images/team/alessandro_ussi.png', alt='Alessandro')
block team-name2 
  | Alessandro Ussi<br />Founder, CEO
block team-description2
  | A pro athlete turned yachting industry executive. Alessandro was a triple jump champion and a member of the Italian National Team before meeting Corrado in 1984 and jumping into the world of sailing. He has managed and supervised more than 4,000 charter deals and hundreds of yacht seals since. He knows by heart the most fascinating sailing areas worldwide. SENIOR SALE AND CHARTER BROKER.
