extends ../layouts/_team.jade

block title-smaller
  | 27 Years Of Experience
block photo-team1
  img(src='/images/team/corrado_di_majo.png', alt='Corrado Di Majo')
block team-name1 
  | Corrado Di Majo<br />Founder, President
block team-description1
  | Corrado has been a sailing child prodigy: the youngest italian to race single-hand from England to US and the youngest skipper ever at the Whitbread Round the World Race. Since 1986 Equinoxe has been a different way to channel his passion and his unparalleled knowledge of the sea. SENIOR SALE AND CHARTER BROKER.
block photo-team2
  img(src='/images/team/alessandro_ussi.png', alt='Alessandro')
block team-name2 
  | Alessandro Ussi<br />Founder, CEO
block team-description2
  | Alessandro is a pro athlete turned travel industry executive. He jumped straight into the world of sailing after meeting Corrado in 1984. He has managed more than 4,000 yacht charters since then, including big hits such as the largest catamaran in the world and the biggest Swan ever built. SENIOR SALE AND CHARTER BROKER.
