extends ../layouts/_team.jade

block title-smaller
  != __('30y')
block photo-team1
  img(src='images/team/corrado_di_majo.png', alt='Corrado Di Majo')
block team-name1 
  | Corrado Di Majo<br />Founder, President
block team-description1
  != __('Corrado_desc')
block photo-team2
  img(src='images/team/alessandro_ussi.png', alt='Alessandro')
block team-name2 
  | Alessandro Ussi<br />Founder, CEO
block team-description2
  != __('Alessandro_desc')
