extends ../layouts/_section_intro.jade
block title 
  != __('Arctic')
block description
  != __('Arctic_desc')



block explain-call
block call-to-action
  ul#call-to-action-menu-button
    li
      block first-call-to-action
        a.exps.button.btn-min-w(href="#arctic-expeditions")
          block first-button
            != __('Arctic_all')
