extends ../layouts/_section_intro.jade
block title 
  != __('Bareboat_title')
block description
  != __('Bareboat_intro')


block explain-call
block call-to-action
  a.button(href="#enquire-modal", rel="modal:open", onclick="document.getElementById('checkboxes-4').checked = true")!= __('Ask_more')
