block section
  section.center
    .main-text
      h1.smaller 
        | The best crew for no-crew people.
    .clear
    block yacht-size
      ul#yacht-size
        li.bulletlist2
          div.container-img
          h2
            span.number-list
              | 1. 
            | Expertise
          p.description-text
            | We’ve been partnering for 30 years with the leading global bareboat charter groups, like The Moorings and Sunsail, with 2,000 boats and 30 bases worldwide. We do work closely with the best boat owners in each country. 

          block button1
        li.bulletlist2
          div.container-img
          h2
            span.number-list
              | 2. 
            | Reach
          p.description-text
            | We can give you access to more than 50 bases all around the world.
          block button2
        li.bulletlist2
          div.container-img
          h2
            span.number-list
              | 3. 
            | Vessels
          p.description-text
            | From 10 to 16 meters, only the most reliable yachts available for you to enjoy.
          block button3
        li.bulletlist2
          div.container-img
          h2
            span.number-list
              | 4. 
            | Control
          p.description-text
            | We only deal with skilled and trustworthy boat owning companies. We constantly monitor and update our fleet.
          block button4
  .buttons
    a.enquire-button(href="#enquire-modal", rel="modal:open") Charter with confidence

