block section
  section.center
    .main-text
      h1.smaller 
        != __('Claim_brokerage')
    .clear
    block yacht-size
      ul#yacht-size
        li.bulletlist
          div.container-img
          h2
            span.number-list
              | 1. 
            != __('Brokerage_bullet_1_title')
          p.description-text
            != __('Brokerage_bullet_1_content')
          block button1
        li.bulletlist
          div.container-img
          h2
            span.number-list
              | 2. 
            != __('Brokerage_bullet_2_title')
          p.description-text
            != __('Brokerage_bullet_2_content')
          block button2
        li.bulletlist
          div.container-img
          h2
            span.number-list
              | 3. 
            != __('Brokerage_bullet_3_title')
          p.description-text
            != __('Brokerage_bullet_3_content')
          block button3
  .buttons
    a.enquire-button(href="/yachts/Sale")!= __('Brokerage_bullet_enquire')
