block section
  section.center
    .main-text
      h1.smaller 
        | You desire, we provide.
    .clear
    block yacht-size
      ul#yacht-size
        li.bulletlist
          div.container-img
          h2
            span.number-list
              | 1. 
            | Experience
          p.description-text
            | We’ve been helping sea lovers buy and sell yachts since 1986. 
          block button1
        li.bulletlist
          div.container-img
          h2
            span.number-list
              | 2. 
            | Network
          p.description-text
            | We’ve been members of MYBA (Mediterranean Yacht Brokers Association) and CYBA (Charter Yacht Brokers Association), the largest and most respected professional organizations in the world, since their inception.
          block button2
        li.bulletlist
          div.container-img
          h2
            span.number-list
              | 3. 
            | Collaboration
          p.description-text
            | We’ve been working with the greatest yacht manufacturers – such as Beneteau, Azimut Yachts, Ferretti – even as dealers.
          block button3
  .buttons
    a.enquire-button(href="/yachts_list") See all available yachts for sale

