extends ../layouts/_expedition_card.jade

block img-yacht-card
    if expedition.thumbnail.filename
        img(src="/uploads/images/expeditions/thumbnails/"+encodeURIComponent(expedition.thumbnail.filename).replace(/\(/g, '%28').replace(/\)/g, '%29'), alt=expedition.thumbnail.filename)
    else 
        img(src="/images/sprite/placeholder.png" alt="placeholder")
block single-yacht-name
    if expedition.name
        = expedition.name 
    else
        = "missing"
block single-yacht-charter
    if expedition.price
        = numeralFunction(expedition.price).format('0,0[.]00' )+expedition.currency
    else
        = "upon-request"

block single-yacht-length
    if expedition.zone
        = expedition.zone
    else
        = "missing"

