extends ../layouts/_section_intro.jade
block title 
  != __('Exp_title')
block description
  != __('Exp_desc')
block explain-call
block call-to-action
  //a.button(href="../pages/expeditions_planning.html") Pick your expedition
