div#toggle-btn
  i.fa.fa-plus-circle
    span
      |   Filters
ul#filter-menu.filter-toggle

  li#last-filter
    a.filter#f7(href="#")
      div.icon-filter
        img(src='../images/sprite/filter_salecharter_icon.svg', alt='Propulsion')
      h3
        | Zone
      span
        | Artide
div.filter-opened-section.filter-toggle-min
  a.close-filter(href="#")
    img(src='../images/sprite/hamburger_close.svg', alt='Close')
  include _filter_zone.jade

  
  
div.reset-button.filter-toggle
  a.button(href="#") Reset

    
