block section
  section.center.filter-hide.zone
    ul#call-to-action-menu.filter
      li
        a#arctic.link(href="#") 
          | Arctic
      li
        a#antarctic.link(href="#") 
          | Antarctic
      li
        a#galapagos.link(href="#")  
          | Galapagos
      li
        a#patagonia.link(href="#") 
          | Patagonia
      li
        a#maldives.link(href="#") 
          | Maldives
      li
        a#newzeland.link(href="#") 
          | New Zeland
      li
        a#australia.link(href="#") 
          | Australia

