block section
  section.center.filter-hide.propulsion
    ul#call-to-action-menu.filter
      li
        block first-call-to-action
          a#motor.link(href="#") 
            block first-icon
             img.motor(src='../images/sprite/icon_motor.svg', alt='Motor')
            a#motor.link(href="#") 
              block first-button
                | Power
      li
        block second-call-to-action
          a#sail.link(href="#") 
            block second-icon
              img.sail(src='../images/sprite/icon_sail.svg', alt='Sail')
            a#sail.link(href="#") 
              block second-button
                | Sail
      li
        block third-call-to-action
          a#gulet.link(href="#") 
            block third-icon
             img.gulet(src='../images/sprite/gulet_icon.svg', alt='Gulet')
            a#gulet.link(href="#") 
              block third-button
                | Gulet
