block section
  section.center.sale-charter.filter-hide
    form.search-yacht#search-yacht
      input#input-search(type="text" autofocus)
      input#input-button(type="image" src="/images/sprite/search.svg")
