block section
  section.center.price-slider.filter-hide
    if data.yachts.availability == "Sale"
      #slider-numbers
        p.min-price
        p.max-price
      .clear
      //- button.more-10ml >10mln
      #slider-range.slider-bar
    if data.yachts.availability == "Charter"
      #slider-numbersweek
        span.per-week!= __('xweek')
        p.min-priceweek
        p.max-priceweek
      .clear
      #slider-rangeweek.slider-bar
