footer
  .logo-ftr
    img(src="/images/sprite/logo.svg", alt="logo")
  
  .social
    ul
      li
        a.fa.fa-facebook(href="https://www.facebook.com/equinoxeyachts", target="_blank")
      li
        a.fa.fa-google-plus(href="https://plus.google.com/115550959970015595720/posts", target="_blank")
      //- li
      //-   a.fa.fa-pinterest(href="", target="_blank")
      li
        a.fa.fa-linkedin(href="https://www.linkedin.com/company/1323328?trk=prof-exp-company-name", target="_blank")
  .left#footer-content

    ul
      li.bold
        | EQUINOXE S.r.l.
      li
        | Phone +39 011 8185211
      li
        | Fax +39 011 8185221
      li
        | Via dei Mille, 18 - 10123 Torino, Italy
      li
        | P.IVA IT05094070017
    p.secondmenu
      <a href="//www.iubenda.com/privacy-policy/647363" class="iubenda-nostyle no-brand iubenda-embed" title="Privacy Policy">Privacy Policy</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src = "//cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>
  //- .right
  //-   a(href="https://goo.gl/maps/UgLFh" target="_blank")
  //-     img(src='http://maps.googleapis.com/maps/api/staticmap?center=Via+dei+Mille,+18+-+10123+Torino,+Italy&zoom=14&style=feature%3Aadministrative.province%7Celement%3Aall%7Cvisibility%3Aoff%7C&style=feature%3Alandscape%7Celement%3Aall%7Csaturation%3A-100%7Clightness%3A65%7Cvisibility%3Aon%7C&style=feature%3Apoi%7Celement%3Aall%7Csaturation%3A-100%7Clightness%3A51%7Cvisibility%3Asimplified%7C&style=feature%3Aroad.highway%7Celement%3Aall%7Csaturation%3A-100%7Cvisibility%3Asimplified%7C&style=feature%3Aroad.arterial%7Celement%3Aall%7Csaturation%3A-100%7Clightness%3A30%7Cvisibility%3Aon%7C&style=feature%3Aroad.local%7Celement%3Aall%7Csaturation%3A-100%7Clightness%3A40%7Cvisibility%3Aon%7C&style=feature%3Atransit%7Celement%3Aall%7Csaturation%3A-100%7Cvisibility%3Asimplified%7C&style=feature%3Awater%7Celement%3Ageometry%7Chue%3A0xffff00%7Clightness%3A-25%7Csaturation%3A-97%7C&style=feature%3Awater%7Celement%3Ageometry.fill%7Chue%3A0x0064ff%7Csaturation%3A15%7Clightness%3A30%7C&style=feature%3Awater%7Celement%3Alabels%7Cvisibility%3Aon%7Clightness%3A-25%7Csaturation%3A-100%7C&scale=1&size=600x380&maptype=roadmap&format=png&visual_refresh=true&markers=icon:http://equinoxe.belafontestudio.com/images/sprite/eq_marker.png%7Cshadow:false%7CVia+dei+Mille,+18+-+10123+Torino,+Italy', alt='Google Map of Via dei Mille, 18 - 10123 Torino, Italy')
  //- 
