extends ../layouts/_section_intro.jade
block title 
  | Gulets
block description
  | Pick up your favorite wooden or steel gulet, from 18 to 60 meters. Originally found only in Turkey, gulets today are available through the whole Mediterranean and also in the Caribbean Sea and in the Indian Ocean.



block explain-call
block call-to-action
  ul#call-to-action-menu-button
    li
      block first-call-to-action
        a.button(href="../pages/yacht_brokerage.html")
          block first-button
            | See all gulets



