extends ../layouts/_section_intro.jade
block title 
  | Heritage

block description
  | Our passions: we take them seriously. When it comes to sailing, perfection is what we strive for. We cannot smooth the waves for you, but we’ll painstakingly take care of every single other detail. We deliver only the most rich and memorable sea experiences.


block explain-call
block call-to-action
  a.button(href="../pages/heritage.html") Ask us anything
