block section
  section.center
    .main-text.info(style="left:7.166667%")
      h1(style="text-align: center")
        block title
          != __('Heritage_why')

  img.info#heritage-img-web(src='#{__("info-web")}')
  img.info#heritage-img-mob(style="display: none")(src='#{__("info-mob")}')
  
  
  section.center
    .main-text.info(style="left: 8%;")
      p(style="text-align: center")
        != __('Heritage_trust')
        br
        != __('Heritage_choose')
