block section
  section.center
    .main-text.info
      h1 
        block title
          | Why Italy?<br />Why Equinoxe?

  img.info#heritage-img(src="/images/equinoxe_infografica.png")
  section.center
    .main-text.info(style="left: 8%;")
      p(style="text-align: center")
        | Go for the leadership.
        br
        | Go with the Italian specialists.
        br
        | Go with Equinoxe.
      
