extends ../layouts/_section_intro.jade
block title 
  != __('Heritage')

block description
  != __('Heritage_desc')


block explain-call
block call-to-action
  a.button#her-btn(href="#contact-us-modal", rel="modal:open")!= __('Heritage_cta') 
