block section
  section.center
    .main-text.info(style="left:7.166667%")
      h1(style="text-align: center")
        block title
          | Why Italy?<br />Why Equinoxe?

  img.info#heritage-img(src="/images/equinoxe_infografica.png")
  section.center
    .main-text.info(style="left: 8%;")
      p(style="text-align: center")
        | Trust Italian specialists.
        br
        | Choose Equinoxe Yachts.
      
