extends ../layouts/_home.jade

block statement1
  | Owning a yacht, trading a yacht, enjoying your yacht: we can be the right partner for you.

block statement2
  | The best yachts for charter and unique sea experiences, appointed by Equinoxe Yachts.<br />Flawless since 1986.

block statement3
  | Hundreds of destinations worldwide to choose from. The beauty of sailing a boat on your own.<br />All the freedom you can imagine. 

block statement4
  | A quest for pristine nature or the ultimate sea adventure of your dream, we will bring you there.<br />Right where you want to be.

block statement5
  |Your relaxing sea experience begins before you get on board and doesn’t end until you step off the boat. <br/>Premium vacation means end-to-end pleasure.

block statement6
  | We have been sailing the oceans for decades. The Mediterranean is our home harbour.<br/>We are among the most renowned Italian specialists in premium worldwide sea experiences.
