block section
  section.center
    .main-text
      h1.smaller 
        block title-smaller
          != __('Sell?')
    .clear
    block yacht-size
      ul#yacht-size
        li
          div.container-img
          h2
            span.number-list
              | 1. 
            != __('Brokerage_bullet_4_title')

          p.description-text
            != __('Brokerage_bullet_4_content')
          block button1
        li
          div.container-img
          h2
            span.number-list
              | 2. 
            != __('Brokerage_bullet_5_title')
          p.description-text
            != __('Brokerage_bullet_5_content')
          block button2
        li
          div.container-img
          h2
            span.number-list
              | 3. 
            != __('Brokerage_bullet_6_title')
          p.description-text
            != __('Brokerage_bullet_6_content')
          block button3
    .buttons
      a.enquire-button(href="#enquire-modal", rel="modal:open", onclick="document.getElementById('checkboxes-1').checked = true")!= __('Sell_btn')
