block section
  section.center
    .main-text
      h1.smaller 
        != __('Land')
    .clear
    block yacht-size
      ul#yacht-size
        li.bulletlist2
          div.container-img
          h2
            span.number-list
              | 1. 
            != __('Land_bulletlist_1_title')
          p.description-text
            != __('Land_bulletlist_1_desc')
          block button1
        li.bulletlist2
          div.container-img
          h2
            span.number-list
              | 2. 
            != __('Land_bulletlist_2_title')
          p.description-text
            != __('Land_bulletlist_2_desc')
          block button2
        li.bulletlist2
          div.container-img
          h2
            span.number-list
              | 3. 
            != __('Land_bulletlist_3_title')
          p.description-text
            != __('Land_bulletlist_3_desc')
          block button3
        li.bulletlist2
          div.container-img
          h2
            span.number-list
              | 4. 
            != __('Land_bulletlist_4_title')
          p.description-text
            != __('Land_bulletlist_4_desc')
          block button4
    .buttons
      a.enquire-button(href="#enquire-modal", rel="modal:open")!= __('Land_cta')
