block section
  section.center
    .main-text
      h1.smaller 
        | On land
    .clear
    block yacht-size
      ul#yacht-size
        li.bulletlist2
          div.container-img
          h2
            span.number-list
              | 1. 
            | Land services
          p.description-text
            | Everything you may need off the boat: land transfers, food and entertainment, nature explorations, visits to historical sites and landmarks in Italy and everywhere else.
          block button1
        li.bulletlist2
          div.container-img
          h2
            span.number-list
              | 2. 
            | Accommodation
          p.description-text
            | You can choose to spend time on land at a top hotel or a charming resort, or opt for your own personal villa.
          block button2
        li.bulletlist2
          div.container-img
          h2
            span.number-list
              | 3. 
            | Availability
          p.description-text
            | You can count on us, from before the time you leave home until after you return.
          block button3
        li.bulletlist2
          div.container-img
          h2
            span.number-list
              | 4. 
            | Control
          p.description-text
            | We only deal with skilled and trustworthy boat owning companies. We constantly monitor and update our fleet.
          block button4
    .buttons
      a.enquire-button(href="#enquire-modal", rel="modal:open") Tell us what you need
