block section
  section.center.latest-grid.spacer
    .main-text.left
      h1.smaller2
        block title-smaller2
          != __('Sail_feat')
    .clear
    ul.latest-space-yachts
      each sail in data.sails.results
        li
          block photo1
            if sail.thumbnail.filename
                img(src="/uploads/images/yachts/thumbnails/"+encodeURIComponent(sail.thumbnail.filename).replace(/\(/g, '%28').replace(/\)/g, '%29'), alt=sail.thumbnail.filename)
            else 
                img(src="/images/sprite/placeholder.png" alt="placeholder")
          h2.main-title
            block yacht-name1
              = sail.name
          ul.vertical-list
            li
              if sail["price per week from"] || sail.price
              li
                if sail.availability == "Charter"
                  span
                    != __('Charter_price_from')
                  = numeralFunction(sail["price per week from"]).format('0,0[.]00' )+sail.currency
                  
                if sail.availability == "Sale"
                  if sail.price
                    span
                      != __('Sale_price')
                    = numeralFunction(sail.price).format('0,0[.]00' )+sail.currency
            li
              != __('Length')
              block length1
                = sail.lenght +"m"
            li
              != __('Built')
              block built1
                = sail.build
            li
              != __('Guests')
              block guests1
                = sail.guests
            .clear
          .buttons
            a.button(href= "/yacht/"+sail.slug)!= __('Discover')
      
