block section
  section.center.latest-grid.spacer
    .main-text.left
      h1.smaller2
        block title-smaller2
          != __('Gulet_feat')
    .clear
    ul.latest-space-yachts
      each gulet in data.gulets.results
        li
          block photo1
            if gulet.thumbnail.filename
                img(src="/uploads/images/yachts/thumbnails/"+encodeURIComponent(gulet.thumbnail.filename).replace(/\(/g, '%28').replace(/\)/g, '%29'), alt=gulet.thumbnail.filename)
            else 
                img(src="/images/sprite/placeholder.png" alt="placeholder")
          h2.main-title
            block yacht-name1
              = gulet.name
          ul.vertical-list
            li
              if gulet["price per week from"] || gulet.price
              li
                if gulet.availability == "Charter"
                  span
                    != __('Charter_price_from')
                  = numeralFunction(gulet["price per week from"]).format('0,0[.]00' )+gulet.currency
                  
                if gulet.availability == "Sale"
                  if gulet.price
                    span
                      != __('Sale_price')
                    = numeralFunction(gulet.price).format('0,0[.]00' )+gulet.currency
            li
              | <span class="uppercase">!= __('Length')</span> 
              block length1
                = gulet.lenght+"m"
            li
              | <span class="uppercase">!= __('Built')</span> 
              block built1
                = gulet.build
            li
              | <span class="uppercase">!= __('Guests')</span> 
              block guests1
                = gulet.guests
            .clear
          .buttons
            a.button(href= "/yacht/"+gulet.slug)!= __('Discover')
      
