extends ../layouts/_section_intro.jade
block title 
  != __('Power')
block description
  != __('Power_desc')

block explain-call
block call-to-action
  ul#call-to-action-menu-button
    li
      block first-call-to-action
        a.button.btn-min-w(href="/yachts/Charter?t=Power")
          block first-button
            != __('Power_all')
