extends ../layouts/_section_intro.jade
block title 
  | Power
block description
  | From 18 to 150 meters, all kinds of power yachts are available: planing or displacement hull, catamarans, classic, open, flying bridge, expedition vessels, explorers, trawlers, low motion, tug boat.

block explain-call
block call-to-action
  ul#call-to-action-menu-button
    li
      block first-call-to-action
        a.button(href="/yachts/Charter?t=Power")
          block first-button
            | See all power yachts

