extends ../layouts/_section_intro.jade
block title 
  | Sail
block description
  | From 15 to 80 meters, you can charter with us monohulls and catamarans, cruisers and racers, motorsailers and classic sailing yachts.


block explain-call
block call-to-action
  ul#call-to-action-menu-button
    li
      block first-call-to-action
        a.button(href="../pages/yacht_brokerage.html")
          block first-button
            | See all sailing yachts


