block section
  section.center
    .main-text
      h1.smaller 
        | At your service
    .clear
    block yacht-size
      ul#yacht-size
        li.bulletlist2
          div.container-img
          h2
            span.number-list
              | 1. 
            | Flights
          p.description-text
            | We will take care of organizing all your flights and local transfers with the airline of your choice or private aircraft or jet.

          block button1
        li.bulletlist2
          div.container-img
          h2
            span.number-list
              | 2. 
            | Insurance
          p.description-text
            | We provide a selection of insurance coverage for you, your family and friends; you just need to relax and enjoy your holiday.

          block button2
        li.bulletlist2
          div.container-img
          h2
            span.number-list
              | 3. 
            | Assistance
          p.description-text
            | Chartering a yacht with Equinoxe Yachts guarantees full assistance from a worldwide network of reliable professionals ready at your call.

          block button3
        li.bulletlist2
          div.container-img
          h2
            span.number-list
              | 4. 
            | Control
          p.description-text
            | We only deal with skilled and trustworthy boat owning companies. We constantly monitor and update our fleet.
          block button4
    .buttons
      a.enquire-button(href="#enquire-modal", rel="modal:open") Tell us what you need
