extends ../layouts/_multiple_range_selector.jade

block title-smaller
  | Meet our team:
.clear
    block yacht-size
      ul#yacht-size.full-team
        li
          div.container-img
            img(src='images/team/letizia.png', alt='Letizia Ozella')
          h2
            | Letizia Ozella
          p.description-text
            | Senior Charter Manager
        li
          div.container-img
            img(src='images/team/nicoletta.png', alt='Nicoletta Anzani')
          h2 
            | Nicoletta Anzani

          p.description-text
            | Flights and Land Services Director
        li
          div.container-img
            img(src='images/team/caterina.png', alt='Caterina Mercuri')
          h2 
            | Caterina Mercuri 

          p.description-text
            | Marketing Office
        li
          div.container-img
            img(src='images/team/luisella.png', alt='Luisella Cortese')
          h2
            | Luisella Cortese

          p.description-text
            | Administration Manager
        li
          div.container-img
            img(src='images/team/silvia.png', alt='Corrado Di Majo')
          h2 
            | Silvia Biamino

          p.description-text
            | Office Manager
        
