extends ../layouts/_multiple_range_selector.jade

block title-smaller
  | Meet our team:
.clear
    block yacht-size
      ul#yacht-size.full-team
        li
          div.container-img
            img(src='/images/team/letizia.png', alt='Corrado Di Majo')
          h2
            | Letizia Ozella
          p.description-text
            | Senior Charter Manager
        li
          div.container-img
            img(src='/images/team/nicoletta.png', alt='Corrado Di Majo')
          h2 
            | Nicoletta Anzani

          p.description-text
            | Flights and Land Services Director
        li
          div.container-img
            img(src='/images/team/alessandro.png', alt='Corrado Di Majo')
          h2 
            | Alessandro De Cillis 

          p.description-text
            | Marketing Manager
        li
          div.container-img
            img(src='/images/team/corrado.png', alt='Corrado Di Majo')
          h2
            | Luisella Cortese

          p.description-text
            | Administration Manager
        li
          div.container-img
            img(src='/images/team/corrado.png', alt='Corrado Di Majo')
          h2 
            | Silvia Biamino

          p.description-text
            | Office Manager
        
