extends ../layouts/_section_intro.jade

block title 
  != __('Charter_title')
block description
  != __('Charter_intro')


block explain-call-text
  != __('Charter_select')
block first-call-to-action
  a.link(href="/yachts/Charter?t=Power") 
    block first-icon
     img.motor(src='../images/sprite/icon_motor.svg', alt='Motor')
    a.link(href="/yachts/Charter?t=Power") 
      block first-button
        != __('Power')
block second-call-to-action
  a.link(href="/yachts/Charter?t=Sails") 
    block second-icon
      img.sail(src='../images/sprite/icon_sail.svg', alt='Sail')
    a.link(href="/yachts/Charter?t=Sails") 
      block second-button
        != __('Sail')
block third-call-to-action
  a.link(href="/yachts/Charter?t=Gulet") 
    block third-icon
     img.gulet(src='../images/sprite/gulet_icon.svg', alt='Gulet')
    a.link(href="/yachts/Charter?t=Gulet") 
      block third-button
        != __('Gulet')
