extends ../layouts/_section_intro.jade
block title 
  | Yacht brokerage
block description
  | You can’t buy freedom or happiness, but you can buy a yacht, and that’s pretty close. As long-time members of the MYBA and CYBA we are the elite of yacht brokers in the Mediterranean and everywhere else. If you want to up your boat game, purchase your first yacht or sell your old one, Equinoxe is your go-to partner.

block explain-call
block call-to-action
  ul#call-to-action-menu-button
    li
      block first-call-to-action
        a.button(href="../pages/yacht_brokerage.html")
          block first-button
            | Buy a yacht
    li
      block second-call-to-action
        a.button(href="../pages/yacht_purchase.html")
          block second-button
            | Sell a yacht