extends ../layouts/_section_intro.jade
block title 
  != __('Sale_title')
block description
  != __('Sale_intro')

block explain-call
block call-to-action
  ul#call-to-action-menu-button
    li
      block first-call-to-action
        a.button(href="/yachts/Sale")
          block first-button
            != __('Button_buy')
    li
      block second-call-to-action
        a.button(href="/yacht_brokerage#sell-handle")
          block second-button
            != __('Button_sell')
