block single-yacht
    li.card

        a.slug(href= "/expedition/"+expedition.slug)
        div.container-yachtcard-img
          if expedition["message/offers"]
            span.offer-message
              = expedition["message/offers"]
          block img-yacht-card
            | img
        h3.yacht-name
          block single-yacht-name
            | name
        ul.yacht-specs
          li
            if expedition.price
              span
                | Price:
              = numeralFunction(expedition.price).format('0,0[.]00' )+expedition.currency
