block section
  section.center
    .logo
      img(src='../images/sprite/logo.svg', alt='Equinoxe-Logo')
    .clear
    .main-text.home#home-text!= __("Mission")
    .clear

    
    
  .footer-home
    ul
      li.bold
        | EQUINOXE S.r.l.
      li
        | Phone +39 011 8185211
      li
        | Fax +39 011 8185221
      li
        | Via dei Mille, 18 - 10123 Torino, Italy
      li
        | P.IVA IT05094070017

  div.filtro
  div.hslide#hslide1.bg-img-slide(style="background-image:url('images/landing/YC9H7420.jpg')")
  div.hslide#hslide2.bg-img-slide(style="background-image:url('images/landing/slide_charter.jpg')")
  div.hslide#hslide3.bg-img-slide(style="background-image:url('images/landing/SMYRNA.jpg')")
  div.hslide#hslide4.bg-img-slide(style="background-image:url('images/landing/slide_bareboat.jpg')")
  div.hslide#hslide5.bg-img-slide(style="background-image:url('images/landing/slide_expedition.jpg')")
  div.hslide#hslide6.bg-img-slide(style="background-image:url('images/landing/island.jpg')")
  div.hslide#hslide7.bg-img-slide(style="background-image:url('images/landing/slide_heritage.jpg')")
  div.hslide#hslide4.bg-img-slide(style="background-image:url('images/landing/slide_bareboat.jpg')")


  
  
