block section
  section.center
    .logo
      img(src='../images/sprite/logo.svg', alt='Equinoxe-Logo')
    .clear
    .main-text.home
      p#statement1.statement
        block statement1
          | the statement
      p#statement2.statement
        block statement2
          | the statement
      p#statement3.statement
        block statement3
          | the statement
      p#statement4.statement
        block statement4
          | the statement
      p#statement5.statement
        block statement5
          | the statement
      p#statement6.statement
        block statement6
          | the statement
    .clear
    #cta1.cta
      a.button.home(href="/yachts/Sale") Buy a yacht
      a.button.home(href="/yacht_brokerage#sell-handle") Sell a yacht
    #cta2.cta
      a.button.home(href="/yachts/Charter?t=Power") Power
      a.button.home(href="/yachts/Charter?t=Sails") Sail
      a.button.home(href="/yachts/Charter?t=Gulet") Gulet
    #cta3.cta
      a.button.home(href="/bareboat") Try it now
    #cta4.cta
      a.button.home(href="/expeditions_planning") Select your expedition
    
    #cta5.cta
      a.button.home(href="#enquire-modal", rel="modal:open") Ask us anything
    #cta6.cta
      a.button.home(href="/heritage") Discover Equinoxe Yachts
    
  .footer-home
    ul
      li.bold
        | EQUINOXE S.r.l.
      li
        | Phone +39 011 8185211
      li
        | Fax +39 011 8185221
      li
        | Via dei Mille, 18 - 10123 Torino, Italy
      li
        | P.IVA IT05094070017

  div.filtro
  div.hslide#hslide1.bg-img-slide(style="background-image:url('images/landing/YC9H7420.jpg')")
  div.hslide#hslide2.bg-img-slide(style="background-image:url('images/landing/slide_charter.jpg')")
  div.hslide#hslide3.bg-img-slide(style="background-image:url('images/landing/SMYRNA.jpg')")
  div.hslide#hslide4.bg-img-slide(style="background-image:url('images/landing/slide_bareboat.jpg')")
  div.hslide#hslide5.bg-img-slide(style="background-image:url('images/landing/slide_expedition.jpg')")
  div.hslide#hslide6.bg-img-slide(style="background-image:url('images/landing/island.jpg')")
  div.hslide#hslide7.bg-img-slide(style="background-image:url('images/landing/slide_heritage.jpg')")
  
  
  
  
