block section
  section.center.latest-grid.spacer
    .main-text.left
      h1.smaller2
        block title-smaller2
          != __('Featured_y_for_sale')
    .clear
    ul.latest-space-yachts
      each featured in data.featured.results
        li
          block photo1
            if featured.thumbnail.filename
                img(src="/uploads/images/yachts/thumbnails/"+encodeURIComponent(featured.thumbnail.filename).replace(/\(/g, '%28').replace(/\)/g, '%29'), alt=featured.thumbnail.filename)
            else 
                img(src="/images/sprite/placeholder.png" alt="placeholder")
          h2.main-title
            block yacht-name1
              = featured.name
          ul.vertical-list
            li
              if featured["price per week from"] || featured.price
              li
                if featured.availability == "Charter"
                  span
                    != __('Charter_price_from')
                  = numeralFunction(featured["price per week from"]).format('0,0[.]00' )+featured.currency
                  
                if featured.availability == "Sale"
                  if featured.price
                    span
                      != __('Sale_price')
                    = numeralFunction(featured.price).format('0,0[.]00' )+featured.currency
            li
              span.uppercase
                !=__('Length')
              block length1
                = featured.lenght+"m"
            li
              span.uppercase
                !=__('Built')
              block built1
                = featured.build
            li
              span.uppercase
                !=__('Guests') 
              block guests1
                = featured.guests
            .clear
          .buttons
            a.button(href= "/yacht/"+featured.slug)!= __('Discover_button')
      
