block section
  section.center.latest-grid.spacer
    .main-text.left
      h1.smaller2
        block title-smaller2
          | Featured yachts for sale:
    .clear
    ul.latest-space-yachts
      each featured in data.featured.results
        li
          block photo1
            if featured.thumbnail.filename
                img(src="/uploads/images/yachts/thumbnails/"+encodeURIComponent(featured.thumbnail.filename).replace(/\(/g, '%28').replace(/\)/g, '%29'), alt=featured.thumbnail.filename)
            else 
                img(src="/images/sprite/placeholder.png" alt="placeholder")
          h2.main-title
            block yacht-name1
              = featured.name
          ul.vertical-list
            li
              | <span class="uppercase">Price:</span> 
              block price1
                = featured.price+featured.currency
            li
              | <span class="uppercase">Length:</span> 
              block length1
                = featured.lenght
            li
              | <span class="uppercase">Built:</span> 
              block built1
                = featured.build
            li
              | <span class="uppercase">Guests:</span> 
              block guests1
                = featured.guests
            .clear
          .buttons
            a.button(href="../pages/single_yacht.html") Discover
      