block section
  section.center
    .main-text
      h1.smaller 
        block title-smaller
          | The title
    .clear
    block yacht-size
      ul#yacht-size
        li
          div.container-img
            img.mega-yacht.img-spacer(src='../images/sprite/icon_select_yacht.svg', alt='Mega Yacht')
            img.yacht(src='../images/sprite/icon_select_yacht.svg', alt='Yacht')
          h2 YACHTS
          p
            != __('min24')
          block button1
            a.button(href="/yachts/Sale?minl=0&maxl=24")!= __('Go_btn')
        li
          div.container-img
            img.mega-yacht.img-spacer(src='../images/sprite/icon_select_yacht.svg', alt='Mega Yacht')
            img.super-yacht(src='../images/sprite/icon_select_yacht.svg', alt='Super Yacht')
          h2 SUPER YACHTS
          p
            != __('24to40')
          block button2
            a.button(href="/yachts/Sale?minl=24&maxl=40")!= __('Go_btn')
        li
          div.container-img
            img.mega-yacht(src='../images/sprite/icon_select_yacht.svg', alt='Mega Yacht')
          h2 MEGA YACHTS

          p
            != __('plus40')
          block button3
            a.button(href="/yachts/Sale?minl=40&maxl=200")!= __('Go_btn')
