block section
  div.main-photo
    block main-photo
      
      if data.yacht.cover.filename
        div(class="img-holder-scroll", data-image="/uploads/images/yachts/covers/"+data.yacht.cover.filename, alt=data.yacht.cover.filename)
      else 
        div(class="img-holder-scroll", data-image="/images/sprite/placeholder_cover.png", alt="placeholder")
    section.center
      div#plain-color-background
        div#container-other-specs
          .main-text
            h1 
              block title
                | The title
          .clear
          ul#single-yacht-specs
            li
              span
                | charter:
              block single-yacht-price
                | price
            li
              span
                | length:
              block single-yacht-length
                | number
            li
              span
                | year of build:
              block single-yacht-build
                | year
            li
              span
                | guests:
              block single-yacht-guests
                | number

          block explain-call
            p.call-to-action
              block explain-call-text
                | Call to action text
          .clear
          block call-to-action
            | bottone CTA
          .clear


          #gallery1
            #slides1
              .img(style='background-image: url(/uploads/images/yachts/galleries/'+data.yacht.gallery1.img1.filename+')')
              .img(style='background-image: url(/uploads/images/yachts/galleries/'+data.yacht.gallery1.img2.filename+')')
              .img(style='background-image: url(/uploads/images/yachts/galleries/'+data.yacht.gallery1.img3.filename+')')
              .img(style='background-image: url(/uploads/images/yachts/galleries/'+data.yacht.gallery1.img4.filename+')')
              .img(style='background-image: url(/uploads/images/yachts/galleries/'+data.yacht.gallery1.img5.filename+')')
              .img(style='background-image: url(/uploads/images/yachts/galleries/'+data.yacht.gallery1.img6.filename+')')
              .img(style='background-image: url(/uploads/images/yachts/galleries/'+data.yacht.gallery1.img7.filename+')')
              .img(style='background-image: url(/uploads/images/yachts/galleries/'+data.yacht.gallery1.img8.filename+')')
              .img(style='background-image: url(/uploads/images/yachts/galleries/'+data.yacht.gallery1.img9.filename+')')
              .img(style='background-image: url(/uploads/images/yachts/galleries/'+data.yacht.gallery1.img10.filename+')')
          #gallery2
            #slides2
              .img(style='background-image: url(/uploads/images/yachts/galleries/'+data.yacht.gallery2.img1.filename+')')
              .img(style='background-image: url(/uploads/images/yachts/galleries/'+data.yacht.gallery2.img2.filename+')')
              .img(style='background-image: url(/uploads/images/yachts/galleries/'+data.yacht.gallery2.img3.filename+')')
              .img(style='background-image: url(/uploads/images/yachts/galleries/'+data.yacht.gallery2.img4.filename+')')
              .img(style='background-image: url(/uploads/images/yachts/galleries/'+data.yacht.gallery2.img5.filename+')')
              .img(style='background-image: url(/uploads/images/yachts/galleries/'+data.yacht.gallery2.img6.filename+')')
              .img(style='background-image: url(/uploads/images/yachts/galleries/'+data.yacht.gallery2.img7.filename+')')
              .img(style='background-image: url(/uploads/images/yachts/galleries/'+data.yacht.gallery2.img8.filename+')')
              .img(style='background-image: url(/uploads/images/yachts/galleries/'+data.yacht.gallery2.img9.filename+')')
              .img(style='background-image: url(/uploads/images/yachts/galleries/'+data.yacht.gallery2.img10.filename+')')
          div#other-specs
            ul.other-specs-list
              h3
                | Specifications</br>—
              li
                span
                  | beam:
                =data.yacht.beam
              li
                span
                  | number of crew:
                =data.yacht.crew
              li
                span
                  | builder:
                =data.yacht.builder
              li
                span
                  | designer:
                =data.yacht.designer
              li
                span
                  | flag:
                =data.yacht.flag
              li
                span
                  | model:
                =data.yacht.model
              li
                span
                  | draft:
                =data.yacht.draft
              li
                span
                  | displacement:
                =data.yacht.displacement
              li
                span
                  | Cruising speed:
                =data.yacht["crusing speed"]
              li
                span
                  | Fuel consumption:
                =data.yacht.consumption
              li
                span
                  | VAT:
                =data.yacht.vat
              li
                span
                  | Location:
                =data.yacht.location
              li
                span
                  | Price Per Week Low Season:
                =data.yacht["price per week low season"]+data.yacht.currency
              li
                span
                  | Price Per Week High Season:
                =data.yacht["price per week high season"]+data.yacht.currency
            ul.other-specs-list
              h3
                | Accomodation</br>—
              li
                span
                  | number of guests:
                 =data.yacht.guests
              li
                span
                  | number of crew:
                 =data.yacht.crew
              li
                span
                  | number of cabins:
                 =data.yacht.cabins
              li
                span
                  | guests cabins:
                 =data.yacht["guests cabins"]
              li
                span
                  | crew cabins:
                 =data.yacht["crew cabins"]



            ul.other-specs-list
              h3
                | Equipment</br>—
              li
                span
                  | Engines:
                p 
                  =data.yacht.engine
              
          div#other-description
            div.description-info.indent
              h2
                | Description
              !=data.yacht.content.description
            div.description-info
              h2
                | Water Sports
              !=data.yacht.content["water sports"]
              a.button(href="#contact-us-modal", rel="modal:open") Enquire
  