block section
  div.main-photo
    block main-photo
      
      if data.yacht.cover.filename
        div(class="img-holder-scroll", data-image="/uploads/images/yachts/covers/"+data.yacht.cover.filename, alt=data.yacht.cover.filename)
      else 
        div(class="img-holder-scroll", data-image="/images/sprite/placeholder_cover.png", alt="placeholder")
    
    section.center
      div#plain-color-background
        div#container-other-specs
          .main-text  
            h1 
              block title
                = data.yacht.name
          .clear
          ul#single-yacht-specs
            if data.yacht["price per week from"] || data.yacht.price
              li
                if data.yacht.availability == "Charter"
                  span
                    | Charter price from:
                  = numeralFunction(data.yacht["price per week from"]).format('0,0[.]00' )+data.yacht.currency
                  
                if data.yacht.availability == "Sale"
                  if data.yacht.price
                    span
                      | Sale price:
                    = numeralFunction(data.yacht.price).format('0,0[.]00' )+data.yacht.currency
                    
            if data.yacht.lenght
              li
                span
                  | length:
                block single-yacht-length
                  = data.yacht.lenght+"m"
            if data.yacht.build || data.yacht.refit 
              li
                if data.yacht.refit && data.yacht.build
                  span
                    | built:
                  = data.yacht.build+" / refit "+data.yacht.refit
                else
                    if data.yacht.refit
                      span
                        | refit:
                      = data.yacht.refit
                    else if data.yacht.build
                      span
                        | built:
                      = data.yacht.build 
            if data.yacht.guests
              li
                span
                  | guests:
                block single-yacht-guests
                  = data.yacht.guests

            if data.yacht["message/offers"]
              li
                = data.yacht["message/offers"]

            



          block explain-call
            p.call-to-action

          .clear
          block call-to-action
            a.button(href="#contact-us-modal", rel="modal:open") Enquire
          .clear
          
          a.back-to-yachts(href="/yachts/#{data.yacht.availability}")
            i.fa.fa-chevron-left
            |   Back to yachts
          

    if data.yacht.gallery1.img1.filename || data.yacht.gallery1.img2.filename || data.yacht.gallery1.img3.filename || data.yacht.gallery1.img4.filename || data.yacht.gallery1.img5.filename || data.yacht.gallery1.img6.filename || data.yacht.gallery1.img7.filename || data.yacht.gallery1.img8.filename || data.yacht.gallery1.img9.filename || data.yacht.gallery1.img10.filename
      #gallery1
        #back-arrow.arrow
        #next-arrow.arrow
        #slides1.owl-carousel.owl-theme
          if data.yacht.gallery1.img1.filename
            - var src1 = encodeURIComponent(data.yacht.gallery1.img1.filename).replace(/\(/g, '%28').replace(/\)/g, '%29')
            .img(style='background-image: url(/uploads/images/yachts/galleries/'+src1+')')
          if data.yacht.gallery1.img2.filename
            - var src2 = encodeURIComponent(data.yacht.gallery1.img2.filename).replace(/\(/g, '%28').replace(/\)/g, '%29')
            .img(style='background-image: url(/uploads/images/yachts/galleries/'+src2+')')
          if data.yacht.gallery1.img3.filename
            - var src3 = encodeURIComponent(data.yacht.gallery1.img3.filename).replace(/\(/g, '%28').replace(/\)/g, '%29')
            .img(style='background-image: url(/uploads/images/yachts/galleries/'+src3+')')
          if data.yacht.gallery1.img4.filename
            - var src4 = encodeURIComponent(data.yacht.gallery1.img4.filename).replace(/\(/g, '%28').replace(/\)/g, '%29')
            .img(style='background-image: url(/uploads/images/yachts/galleries/'+src4+')')
          if data.yacht.gallery1.img5.filename
            - var src5 = encodeURIComponent(data.yacht.gallery1.img5.filename).replace(/\(/g, '%28').replace(/\)/g, '%29')
            .img(style='background-image: url(/uploads/images/yachts/galleries/'+src5+')')
          if data.yacht.gallery1.img6.filename
            - var src6 = encodeURIComponent(data.yacht.gallery1.img6.filename).replace(/\(/g, '%28').replace(/\)/g, '%29')
            .img(style='background-image: url(/uploads/images/yachts/galleries/'+src6+')')
          if data.yacht.gallery1.img7.filename
            - var src7 = encodeURIComponent(data.yacht.gallery1.img7.filename).replace(/\(/g, '%28').replace(/\)/g, '%29')
            .img(style='background-image: url(/uploads/images/yachts/galleries/'+src7+')')
          if data.yacht.gallery1.img8.filename
            - var src8 = encodeURIComponent(data.yacht.gallery1.img8.filename).replace(/\(/g, '%28').replace(/\)/g, '%29')
            .img(style='background-image: url(/uploads/images/yachts/galleries/'+src8+')')
          if data.yacht.gallery1.img9.filename
            - var src9 = encodeURIComponent(data.yacht.gallery1.img9.filename).replace(/\(/g, '%28').replace(/\)/g, '%29')
            .img(style='background-image: url(/uploads/images/yachts/galleries/'+src9+')')
          if data.yacht.gallery1.img10.filename
            - var src10 = encodeURIComponent(data.yacht.gallery1.img10.filename).replace(/\(/g, '%28').replace(/\)/g, '%29')
            .img(style='background-image: url(/uploads/images/yachts/galleries/'+src10+')')
          if data.yacht.gallery2.img1.filename
            - var src1 = encodeURIComponent(data.yacht.gallery2.img1.filename).replace(/\(/g, '%28').replace(/\)/g, '%29')
            .img(style='background-image: url(/uploads/images/yachts/galleries/'+src1+')')
          if data.yacht.gallery2.img2.filename
            - var src2 = encodeURIComponent(data.yacht.gallery2.img2.filename).replace(/\(/g, '%28').replace(/\)/g, '%29')
            .img(style='background-image: url(/uploads/images/yachts/galleries/'+src2+')')
          if data.yacht.gallery2.img3.filename
            - var src3 = encodeURIComponent(data.yacht.gallery2.img3.filename).replace(/\(/g, '%28').replace(/\)/g, '%29')
            .img(style='background-image: url(/uploads/images/yachts/galleries/'+src3+')')
          if data.yacht.gallery2.img4.filename
            - var src4 = encodeURIComponent(data.yacht.gallery2.img4.filename).replace(/\(/g, '%28').replace(/\)/g, '%29')
            .img(style='background-image: url(/uploads/images/yachts/galleries/'+src4+')')
          if data.yacht.gallery2.img5.filename
            - var src5 = encodeURIComponent(data.yacht.gallery2.img5.filename).replace(/\(/g, '%28').replace(/\)/g, '%29')
            .img(style='background-image: url(/uploads/images/yachts/galleries/'+src5+')')
          if data.yacht.gallery2.img6.filename
            - var src6 = encodeURIComponent(data.yacht.gallery2.img6.filename).replace(/\(/g, '%28').replace(/\)/g, '%29')
            .img(style='background-image: url(/uploads/images/yachts/galleries/'+src6+')')
          if data.yacht.gallery2.img7.filename
            - var src7 = encodeURIComponent(data.yacht.gallery2.img7.filename).replace(/\(/g, '%28').replace(/\)/g, '%29')
            .img(style='background-image: url(/uploads/images/yachts/galleries/'+src7+')')
          if data.yacht.gallery2.img8.filename
            - var src8 = encodeURIComponent(data.yacht.gallery2.img8.filename).replace(/\(/g, '%28').replace(/\)/g, '%29')
            .img(style='background-image: url(/uploads/images/yachts/galleries/'+src8+')')
          if data.yacht.gallery2.img9.filename
            - var src9 = encodeURIComponent(data.yacht.gallery2.img9.filename).replace(/\(/g, '%28').replace(/\)/g, '%29')
            .img(style='background-image: url(/uploads/images/yachts/galleries/'+src9+')')
          if data.yacht.gallery2.img10.filename
            - var src10 = encodeURIComponent(data.yacht.gallery2.img10.filename).replace(/\(/g, '%28').replace(/\)/g, '%29')
            .img(style='background-image: url(/uploads/images/yachts/galleries/'+src10+')')
            
    section.center
      div#plain-color-background-2
        div#container-other-specs-2
            div#other-specs
              ul.other-specs-list
                if data.yacht.beam || data.yacht.crew || data.yacht.builder || data.yacht.designer ||  data.yacht.flag || data.yacht.model || data.yacht.draft || data.yacht.displacement || data.yacht["crusing speed"] || data.yacht.consumption || data.yacht["price per week low season"] || data.yacht.vat || data.yacht.location || data.yacht["price per week high season"]
                  h3
                    | Specifications</br>—
                    
                if data.yacht["price per week from"] || data.yacht.price
                  li
                    if data.yacht.availability == "Charter"
                      span
                        | Charter price from:
                      = numeralFunction(data.yacht["price per week from"]).format('0,0[.]00' )+data.yacht.currency
                      
                    if data.yacht.availability == "Sale"
                      if data.yacht.price
                        span
                          | Sale price:
                        = numeralFunction(data.yacht.price).format('0,0[.]00' )+data.yacht.currency
                        
                if data.yacht.lenght
                  li
                    span
                      | length:
                    block single-yacht-length
                      = data.yacht.lenght+"m"
                if data.yacht.build || data.yacht.refit 
                  li
                    if data.yacht.refit && data.yacht.build
                      span
                        | built:
                      = data.yacht.build+" / refit "+data.yacht.refit
                    else
                        if data.yacht.refit
                          span
                            | refit:
                          = data.yacht.refit
                        else if data.yacht.build
                          span
                            | built:
                          = data.yacht.build 
                if data.yacht.guests
                  li
                    span
                      | guests:
                    block single-yacht-guests
                      = data.yacht.guests

                if data.yacht.beam
                  li
                    span
                      | beam:
                    =data.yacht.beam
                if data.yacht.crew
                  li
                    span
                      | number of crew:
                    =data.yacht.crew
                if data.yacht.builder
                  li
                    span
                      | builder:
                    =data.yacht.builder
                if data.yacht.designer
                  li
                    span
                      | designer:
                    =data.yacht.designer
                if data.yacht.flag
                  li
                    span
                      | flag:
                    =data.yacht.flag
                if data.yacht.model
                  li
                    span
                      | model:
                    =data.yacht.model
                if data.yacht.draft
                  li
                    span
                      | draft:
                    =data.yacht.draft
                if data.yacht.displacement
                  li
                    span
                      | displacement:
                    =data.yacht.displacement
                if data.yacht["crusing speed"]
                  li
                    span
                      | cruising speed:
                    =data.yacht["crusing speed"]
                if data.yacht.consumption
                  li
                    span
                      | Fuel consumption:
                    =data.yacht.consumption
                if data.yacht.vat
                  li
                    span
                      | VAT:
                    =data.yacht.vat
                if data.yacht.location    
                  li
                    span
                      | Location:
                    =data.yacht.location
                if data.yacht["price per week low season"]
                  li
                    span
                      | Price Per Week Low Season:
                    = numeralFunction(data.yacht["price per week low season"]).format('0,0[.]00' )+data.yacht.currency

                if data.yacht["price per week high season"]
                  li
                    span
                      | Price Per Week High Season:
                    = numeralFunction(data.yacht["price per week high season"]).format('0,0[.]00' )+data.yacht.currency
                if data.yacht.engine
                  li
                    span
                      | Engines:
                    p 
                      =data.yacht.engine
                //- if data.yacht["pdf url"]
                //-   li
                //-     block single-yacht-pdf
                //-       a.button(href=data.yacht["pdf url"], target="_blank")
                //-         i.fa.fa-file-pdf-o
                //-         |   Fullspec PDF
              ul.other-specs-list
                if data.yacht.guests || data.yacht.crew || data.yacht.cabins || data.yacht["guests cabins"] || data.yacht["crew cabins"]
                  h3
                    | Accomodation</br>—
                if data.yacht.guests
                  li
                    span
                      | number of guests:
                     =data.yacht.guests
                if data.yacht.crew
                  li
                    span
                      | number of crew:
                     =data.yacht.crew
                if data.yacht.cabins
                  li
                    span
                      | number of cabins:
                     =data.yacht.cabins
                if data.yacht["guests cabins"]
                  li
                    span
                      | guests cabins:
                     =data.yacht["guests cabins"]
                if data.yacht["crew cabins"]
                  li
                    span
                      | crew cabins:
                     =data.yacht["crew cabins"]

            div#other-description
              if data.yacht.content.description
                div.description-info
                  !=data.yacht.content.description
              div.description-info
                if data.yacht.content["water sports"]
                  h2 Water Sports
                !=data.yacht.content["water sports"]
                a.button(href="#contact-us-modal", rel="modal:open") Enquire
    
div.gradient-top
