block single-yacht
    li.card

        a.slug(href= "/yacht/"+yacht.slug)
        div.container-yachtcard-img
          if yacht["message/offers"]
            span.offer-message
              = yacht["message/offers"]
          block img-yacht-card
            | img
        h3.yacht-name
          block single-yacht-name
            | name
        ul.yacht-specs
          if yacht["price per week from"] || yacht.price
            li
              if yacht.availability == "Charter"
                span
                  | Price from:
                = numeralFunction(yacht["price per week from"]).format('0,0[.]00' )+yacht.currency
              if yacht.availability == "Sale"
                if yacht.price
                  span
                    | Price:
                  = numeralFunction(yacht.price).format('0,0[.]00' )+yacht.currency
          if yacht.lenght
            li
              span
                | length:
              = yacht.lenght + " m"
          if yacht.builder && yacht.availability == "Sale"
            li
              span
                | builder:
              = yacht.builder
          if yacht.build || yacht.refit 
            li
              if yacht.refit && yacht.build
                span
                  | built:
                = yacht.build+" / refit "+yacht.refit
              else
                  if yacht.refit
                    span
                      | refit:
                    = yacht.refit
                  else if yacht.build
                    span
                      | built:
                    = yacht.build 
          li
            span
              | guests:
            block single-yacht-guests
              | number
