include ../mixins/flash-messages

doctype html
html

	//- HTML HEADER
	head

		
		



		

		//- Include template-specific stylesheets by extending the css block
		block css
			link(href= data.url+"/static/print4.css", rel="stylesheet")

		//- Add any other template-specific HEAD tags by extending the head block
		block head




	//- HTML BODY
	body

		//- The Intro block appears above flash messages (used for temporary information display)
		block intro



		//- The content block should contain the body of your template's content
		block content
			block body
				h1 General Layout

	//- jQuery 1.11.1 is included by default, and required by both Bootstrap
	//-script(src='http://localhost:3000//js/lib/jquery/jquery-2.1.1.min.js')
	//-script(src='http://localhost:3000//static/vendor.js')
	//-script(src='http://localhost:3000/js/print.js')
