body,
section.center {
  width: 100%;
  margin: 0;
  float: none;
  padding: 0;
}
img#logo {
  margin: auto;
  padding-top: 15px;
  position: relative;
  display: block;
}
#cover img {
  width: 100%;
}
@page {
  width: A4;
  height: portrait;
}
@page :left {
  margin-left: 0;
}
@page :right {
  margin-left: 0;
}
#header {
  position: relative;
  background: #103158;
  width: 100%;
}
#header.big {
  height: 100px;
}
