@import 'nib'
@import 'jeet'

yellow = #F4BB3B
midnight = #091D34
navy-blue = #103158

body, section.center
  -webkit-print-color-adjust exact
  width: 100%
  margin: 0
  float: none
  padding 0
  list-style none
  edit()

ul
  list-style none
  margin 0
  padding 0

@page {
  //margin 0
  size: A4 portrait
  @top-center {
    content 'Ciao'
  }
}

#header
  position relative
  background: navy-blue
  width 100%

  &.big
    height 100px

img#logo
  margin  auto
  padding-top 15px
  position relative
  display block
#cover
  img
    width 100%


.main-text
    width: 100%
    text-align center
    h1
      font-size 30px
      color midnight

.top-specs
  width 100%
  .top-specs-little
    col(10/12)
    shift(1/12)
    #top-specs-left
      col(7/12)
    #top-specs-right
      col(4/12)

.bottom-specs
  col(10/12)
  shift(1/12)
  .other-specs-list
    col(6/12)




#footer-wrap
//  position running(header)
  col(12/12)
  background navy-blue
  .footer
    background navy-blue
    col(10/12)
    shift(1/12)
    padding 30px 0
    ul
      text-align center
      color yellow
      li
        display inline-block
    p
      color white
      font-size 10px
