@import 'nib'
@import 'jeet'

yellow = #F4BB3B
midnight = #091D34
navy-blue = #103158




h3,h4
  font-size 1.3em

b
  font-weight bold



.spacer
  min-height 200px


body, section.center
  -webkit-print-color-adjust exact
  width: 100%
  margin: 0
  float: none
  padding 0
  font-family "Alegreya Sans", "Helvetica Neue", sans-serif
  //edit()


section.center
  padding 10px 0

ul
  list-style none
  margin 0
  padding 0

@page {
  margin: 0
  size: A4 portrait
  @top-center {
    content 'Ciao'
  }
}

h2, h3
  page-break-before: always;

p
  font-size 12px


#header
  position relative

  width 100%

  &.big
    width 240px

img#logo
  margin  auto
  padding-top 15px
  position relative
  display block
#cover
  img
    width 100%
#photo-container
  color midnight
  img
    width 100%

.description-info
  color midnight
  p
    color midnight
.other-specs-list
  color midnight

.main-text
    width: 100%
    text-align center
    h1
      font-size 48px
      color midnight
      margin 10px 0

.top-specs
  width 100%
  .top-specs-little
    col(10/12)
    shift(1/12)
    height 145px
    border-bottom 1px solid yellow
    #top-specs-left
      col(7/12)
      margin-right 2%
      font-size 16px
      font-weight bold
      height 130px
      border-right 1px solid yellow
      li
        color midnight
        span
          text-transform uppercase
          font-size 12px
          font-weight normal
          display inline-block
          width 140px
    #top-specs-right
      col(5/12)
      position relative
      left 74px
      h3
        font-color midnight
        font-size 18px
        font-weight 400
        margin-top 0
        margin-bottom 15px
      li
        font-size 18px
        font-weight bold
        color midnight
        span
          font-weight normal
          text-transform uppercase
          display inline-block
          width 90px
          font-size 12px







.bottom-specs
  col(10/12)
  shift(1/12)
  color midnight
  margin-bottom 10px
  #other-specs
    h3
      font-size 18px
      font-weight 400
      margin 15px 0
  .other-specs-list
    col(6/12)
    li
      font-weight bold
      font-size .7em
      &.pri
        margin-top 10px
      span
        text-transform uppercase
        font-weight lighter
        font-size .8em
        padding-right 4px
  #message-p
    col(12/12)

    margin-top 10px
    background-color: yellow;
    p
      font-size: 1em;
      font-weight: bold;
      padding 0 20px




.description
  col(12/12)
  #other-description
    col(8/12)
    shift(2/12)
    .description-info
      h2
        text-align center





p.caption
  padding 0
  margin 0
  width 100%
  height 11px
  font-size 12px
  text-align center


#footer-wrap
  height:18mm !important
  border-top:1px solid #103158 !important;
  background: #FFFFFF !important;
  float: left !important;
  clear: none !important;
  text-align: inherit !important;
  width: 810px !important;
  position: absolute !important;
  bottom: 0 !important;
  left:-20px !important;
  padding-left:20px !important;
  color:#103158 !important;
  p
    font-size: 7px !important;
  .footer
    width: 70% !important;
    margin-left: 10px !important;
    position: absolute !important;
    bottom:0 !important;
    padding: 0 !important;
    text-align: center !important;
    font-size: 7px !important;
    ul 
      list-style: none !important;
      li 
        display: inline-block !important;
        font-size: 7px !important;
        p
          font-size: 7px !important;
        
    



