@import 'nib'

yellow = #F4BB3B
midnight = #091D34
navy-blue = #103158

body, section.center

  width: 100% 
  margin: 0
  float: none
  padding 0

img#logo
  margin  auto
  padding-top 15px
  position relative
  display block
#cover
  img
    width 100%
@page 
  size: A4 portrait
  
@page :left 
  margin-left: 0

@page :right
  margin-left: 0
  

#header
  position relative
  background: navy-blue
  width 100%
  
  &.big
    height 100px
  
